.resume__education {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.resume__education h4 {padding-bottom: 1.5rem;}

@media (min-width: 1200px) {
  .resume__education {
    flex-direction: row;
    gap: 2rem;
  }
}