.education__cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

.education__card {
  padding: 2rem 1.5rem;
  height: 16.25rem;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  transition: all .3s ease-in-out;
  background: linear-gradient(var(--primary-color), var(--primary-color)) padding-box,
              linear-gradient(to bottom, var(--text-highlight-color), transparent) border-box;
}

.education__card:hover {border: 1px solid;}

.education__card .card__info {
  opacity: var(--opacity-high);
  padding-bottom: 0.5rem;
}