.menu {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  background-color: var(--primary-color);
  border-top-left-radius: var(--radius-lg);
  border-top-right-radius: var(--radius-lg);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  box-shadow: 0px -4px 12px var(--shadow-elevation);
}

.menu .button-group__item:nth-child(1) .button-group__link::before,
.menu .button-group__item:nth-child(1) .button-group__link::after {opacity: 0;}

.menu .button-group__item:nth-child(1) .button-group__link.active::before,
.menu .button-group__item:nth-child(1) .button-group__link.active::after {opacity: 1;}

.menu .button-group__link::before,
.menu .button-group__link::after {color: var(--accent-color);}

.button-group__item {position: relative;}

.button-group__item .tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  pointer-events: none;
  background: var(--secondary-color);
  border-radius: var(--radius-sm);
  box-shadow: 0px 4px 12px var(--shadow-elevation); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.button-group__item:hover .tooltip {
  opacity: 1;
  visibility: visible; 
  pointer-events: auto;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.button-group__link.active::before,
.button-group__link.active::after {
  opacity: 1;
  visibility: visible; 
} 

.button-group__link:hover svg,
.button-group__link.active svg {
  fill: var(--accent-color);
  color: var(--accent-color);
}

@media (min-width: 922px) {
  .menu {
    position: sticky;
    width: 5.5rem;
    height: 26rem;
    box-shadow: none;
    flex-direction: column;
    padding: 2rem;
    top: 20px;
    border-radius: 50px;
    gap: 1.5rem;
  }

  .button-group__item .tooltip {
    left: auto; 
    right: calc(100% + 1.5rem); 
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
  }

  .button-group__item:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%);
  }
}