.services__list {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .services__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .services .section-header {flex: 1;}
}

@media (min-width: 1200px) {
  .services {display: flex;}

  .services__list {flex: 2;}
}