@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('reset.css');
@import url('global.css');

/* ====== base styles ====== */
body {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
}

body[data-theme="light"] .brand__logo {filter: invert(1);}

h1 {
  font-size: 2.5rem;
  font-weight: 200;
}

h1, h2, h3 {
  font-family: 'League Spartan', sans-serif;
  text-transform: uppercase;
  color: var(--title-color);
  font-weight: 200;
}

p {font-size: 1.25rem;}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {color: var(--primary-color);}

i {color: var(--icon-color);}

b {font-weight: 400;}

/* ====== components ====== */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  background: transparent;
  border-radius: 3.125rem;
  padding: 0.875rem 1rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {transform: scale(1.1);}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--outline {border: 1px solid var(--primary-color);}

.btn--outline span {color: var(--primary-color);} 

/* ====== header ====== */
.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 100%;
  z-index: 2;
}

.header__logo .brand__logo {
  width: 3.25rem;
  height: 3.25rem;
}

.header__icon {
  display: flex;
  justify-content: flex-end;
}

.header__icon #toggleTheme {
  font-size: 1.5rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.navbar--main {display: none;}

.menu--main {gap: 1.5rem;}

.menu {
  display: flex;
  align-items: center;
}

.menu--mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  border-top: 1px solid var(--border-color);
  justify-content: space-between;
}

.menu--mobile .menu__link {
  display: flex;
  gap: 0.625rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.menu__link--active .menu__icon,
.menu__link--active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  font-weight: 600;
  color: var(--primary-color);
}

.menu__icon,
.menu__text {color: var(--text-color);}

.menu__icon {font-size: 1.5rem;}

.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* ====== main content ====== */
.main__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 1rem;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu--social {gap: 1rem;}

/* ====== section skills ====== */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem;
  padding: 2rem 1rem;
  background-color: var(--secondary-bg-color);
}

.skills h2 {
  font-size: 2rem;
  text-transform: initial;
}

.skills__list {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.skills__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4.8rem;
  height: 4.8rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--secondary-border-color);
  border-radius: 50%;
}

/* ====== footer ====== */
.footer {margin-bottom: 5rem;}

.footer p {
  font-size: .875rem;
  text-align: center;
  padding: 1rem;
}

/* ====== media queries ====== */
@media (min-width: 768px) {
  /* ====== base styles ====== */
  h1 {font-size: 4rem;}

  /* ====== header ====== */
  .header {
    position: fixed;
    padding: 1rem 6rem;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--primary-bg-color);
  }

  .navbar--main {display: flex;}

  .navbar--mobile {display: none;}

  .navbar--main,
  .header__icon {min-width: 30%;}

  /* ====== main content ====== */
  .main__container {padding: 8rem 6rem 4rem 6rem;}

  .main__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  /* ====== section skills ====== */
  .skills {padding: 4rem 6rem;}

  /* ====== footer ====== */
  .footer {margin: 0;}
}

@media (min-width: 1200px) {
  /* ====== main content ====== */
  .main__container {padding: 12rem 6rem 2rem;}

  .main__content .btn {width: auto;}

  /* ====== section skills ====== */
  .skills {
    flex-direction: row;
    justify-content: space-between;
  }

  .skills h2 {
    font-size: 2.5rem;
    width: 60%;
  }

  .skills__list {gap: 1rem;}

  .skills__item {
    width: 6rem;
    height: 6rem;
  }

  .skills__logo {height: 3rem;}
}

@media (min-width: 1400px) {
  /* ====== base styles ====== */
  h1 {font-size: 6.25rem;}

  /* ====== header ====== */
  .header {padding: 1rem 15rem;}

  /* ====== main content ====== */
  .main__container {padding: 12rem 15rem 2rem;}
}